.metadata{
    font-family: "Raleway";
    text-align: center;
}

.cardsquare{
    border: 1px solid grey;
    height: 35vh;
    width: 19vw;
}

.name {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    width: 19vw;
    float:left;
}
